<title>Edit Profile</title>
<script src="/static/js/edit_profile.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<link rel="stylesheet" href="/static/stylesheets/profile.css" />
<link rel="stylesheet" href="/static/stylesheets/edit-profile.css" />
<input type="hidden" value={{this.username}} id="usnameid"/>

{{#if head}}
        {{> header_in head}}
    {{else}}
        {{> header_out}}
    {{/if}}
<div id="page-content">
    <div id="left-side">
        <div>
            <div class="profile-page">
                <!-- Apply Javascript to allow the button to upload a file -->
                <form id="pfp-input">
                    <label for="pfp-image-upload" ><img src="/static/generic_assets/edit.png" id="icon-edit"></label>  
                    <input type="file" id="pfp-image-upload" accept=".jpg, .jpeg, .png" hidden />
                </form>
                <img class="pfp"  src="/static/profile_assets/{{username}}.jpg">
            </div>
            <div class="profile-name">
                <div>{{name}}</div>
                <div style="font-size: medium;">{{username}}</div>
            </div>
            <div class="bio">   
                {{bio}}
            </div>
        </div>
    </div>
    <div class="right-side">
        <div class="settings">
            <div class="settings-container">
                <div>Profile Settings</div>
                <div>Name:</div>
                <div>
                    <input type="text" id="name" name="name" class="input-box" value="{{name}}">
                </div>
                <div>About Me:</div>
                <div>
                    <textarea id="about-me" name="about-me" class="input-box-bio">{{bio}}</textarea>
                    <input type="text" id="username" name="username" class="input-box-bio" value="{{username}}" hidden></input>
                </div>
                <div class="setting-choice">
                    <button type="submit" id="CancelBtn" class="styled-button">Cancel</button>
                    <button type="submit" id="SaveBtn" class="styled-button">Save Settings</button>
                </div>
            </div>
        </div>
    </div>                    
</div>
