<title>Profile</title>
<link rel="stylesheet" href="/static/stylesheets/profile.css" />
<link rel="stylesheet" href="/static/stylesheets/post-only.css" />

{{#if user}}
        {{> header_in user}}
    {{else}}
        {{> header_out}}
{{/if}}
<div id="page-content">
    <div id="left-side">
        <div>
            <div class="profile-page">
                    <!-- Apply Javascript to allow the button to upload a file -->
                    <img class="pfp"  src="/static/profile_assets/{{this.profile.username}}.jpg">
            </div>
            <div class="profile-name">
                    <div>{{this.profile.name}}</div>
                    <div style="font-size: medium;">{{this.profile.username}}</div>
            </div>
            <div class="bio">   
                {{this.profile.bio}}
            </div>
            {{#if previousLogin}}
                <div class="last-login" style="font-size: small; color: gray; text-align: center; margin-top: 10px;">
                    Last login attempt: {{previousLogin}}
                </div>
            {{/if}}
        </div>
        {{#if me}}
            {{>edit_opts me}}
        {{/if}}
    </div>
    <div class="right-side">
        {{#if posts}}
        {{#each posts}}
        {{> post this}}
        {{/each}}
        {{else}}
            <div class="no-posts">No posts to show...</div>
        {{/if}}
    </div>        
</div>